/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea
maria-data
public/frontend
.htaccess
public/.well-known
laravel-echo-server.json
laravel-echo-server.lock
echo-server.json
public/adminer.php
echo.json
